# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.SGP-HummingBird-GP3.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Francagir\Desktop\SGP\HummingBird_AI_G3\SGP-HummingBird-GP3\.idea\.idea.SGP-HummingBird-GP3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
